#footer
  .hr-title
    %span
      = image_tag "logo.png"
  .social-media
    %a.facebook{:href => "#"}
      = fa_icon "facebook"
    %a.twitter{:href => "#"}
      = fa_icon "twitter"
    %a.google{:href => "#"}
      = fa_icon "google"
  #copyright
    &copy
    %a{:href => "#"}
      HD Shop
    2015
    %p
      All Rights Reserved. Design by
      %a{:href => "#"}
        Hiep Dinh.
  #company-info
    %p
      = fa_icon "building"
      167 Chấn Hưng, Phường 6, Tân Bình, Hồ Chí Minh
    %p
      = fa_icon "phone"
      (84) 128-528-6828 hoặc (08) 733-0013
    %p
      = fa_icon "clock-o"
      Thứ 2 - Thứ 6: 8.00 - 17.00, Thứ 7 - CN: 8.00 - 14.00
  #map


%script{:src => "//maps.googleapis.com/maps/api/js?v=3.exp", :type => "text/javascript"}
:javascript
  function initialize() {
    var myLatlng = new google.maps.LatLng(21.0333, 105.8500);
    var mapOptions = {
      zoom: 16,
      center: myLatlng
    }
    var map = new google.maps.Map(document.getElementById('map'), mapOptions);

    var marker = new google.maps.Marker({
        position: myLatlng,
        map: map,
        title: 'Hello World!'
    });
  }

  // google.maps.event.addDomListener(window, 'load', initialize);



