#header
  #top_bar
    .greeting.pull-left
      Chào mừng bạn đến với HD Shop!
    %ul#top-bar-links.pull-right
      %li
        %a{:href => ""}
          = fa_icon "shopping-cart"
          &nbsp;
          Giỏ Hàng
      %li
        %a{:href => ""}
          = fa_icon "user"
          &nbsp;
          Đăng Nhập
  #main-menu
    .top
      .row
        .col-xs-12.col-md-4.col-sm-4{style: "padding-left: 0px"}
          %form#search_form{:role => "search", action: "/abc", method: :post}
            = fa_icon "search", class: "search-logo", onclick: "search_form.submit()"      
            %input{:placeholder => "Search Product...", :type => "text"}/
        .col-xs-12.col-md-4.col-sm-4
          .logo
            = image_tag "logo.png", class: "logo"
        .col-xs-12.col-md-4.col-sm-4
          = render '/shared/mini_cart'
    .bottom
      .col-xs-12
        %ul#menu-links
          %li.active
            = link_to "Trang Chủ", root_path
          %li
            = link_to "Sản phẩm", products_path
          %li
            %a{:href => "#"}
              Liên hệ
          %li
            %a{:href => "#"}
              Về chúng tôi