- product_discount = [true, false].sample
- product_new = [true, false].sample
- product_url = product_path(1)
%div.product-item.wow.fadeInUp
  .product-image
    - if product_discount
      .save-off-banner
        .wrap-banner
          = image_tag('save-off.png')
          .text-off
            = "#{rand(20..80)}%"
    - small_image_url = asset_url("products/product-#{rand(1..8)}.jpg")
    - large_image_url = small_image_url
    = link_to '', product_url, class: "black-layer"
    = link_to fa_icon("search-plus"), large_image_url, class: 'fancybox fancybox-zoom'
    .nav-bar
      .row
        = link_to product_url, class: "quick-view" do
          .col-sm-6.center-block
            XEM NHANH
        %a.add-to-cart{:href => "javascript:void(0)"}
          .col-sm-6.center-block
            THÊM VÀO GIỎ
    = image_tag small_image_url, size: "240x240", class: 'product_photo'
  .caption
    %a.categories{:href => "/categories/#{ Faker::Hacker.abbreviation }"}
      = Faker::Hacker.abbreviation
    %a.name{:href => "/products/#{ Faker::Name.name.humanize }"}
      = Faker::Name.name.humanize
    .rating.init{"data-score" => "#{ rand(0.0..5.0)}"}
    .price
      - if product_discount
        .discount
          = "#{ rand(100..999) }#{t('currency')}"
      = "#{ rand(100..999) }#{t('currency')}"
