%div.product-item.wow.fadeInUp
  .black-layer
  .nav-bar
    %a{:href => "/a"}
      .external-link
        = fa_icon "external-link"
    %a{:href => "/b"}
      .add-to-cart
        = fa_icon "shopping-cart"
  .product-image
    = image_tag "products/product-#{rand(1..8)}.jpg", size: "240x240"
  .price
    = "#{ rand(100..999) }K"
  .caption
    %a.categories{:href => "/categories/#{ Faker::Hacker.abbreviation }"}
      = Faker::Hacker.abbreviation
    %a.name{:href => "/products/#{ Faker::Name.name.humanize }"}
      = Faker::Name.name.humanize
    .rating{"data-score" => "#{ rand(0.0..5.0)}"}
    .description
      =# truncate(Faker::Lorem.paragraph.humanize, length: 200)
