- variant = product.variants.first
- product_discount = variant.cost_price > variant.price
- product_url = product_path(product)
%div.product-item.wow.fadeInUp
  .product-image
    - if product_discount
      .save-off-banner
        .wrap-banner
          = image_tag('save-off.png')
          .text-off
            = "#{ (((variant.cost_price - variant.price) * 100)/variant.cost_price).round }%"
    - small_image_url = asset_url("products/product-#{rand(1..8)}.jpg")
    - large_image_url = small_image_url
    = link_to '', product_url, class: "black-layer"
    = link_to fa_icon("search-plus"), large_image_url, class: 'fancybox fancybox-zoom'
    .nav-bar
      .row
        = link_to product_url, class: "quick-view" do
          .col-sm-6.center-block
            XEM NHANH
        %a.add-to-cart{:href => "javascript:void(0)"}
          .col-sm-6.center-block
            THÊM VÀO GIỎ
    = image_tag small_image_url, size: "240x240", class: 'product_photo'
  .caption
    %a.categories{:href => "/categories/"}
      = FFaker::Product.brand.titleize
    %a.name{:href => product_url}
      = product.name.size < 23 ? product.name : "#{product.name[0..20]} ..."
    .rating.init{"data-score" => "#{ rand(0.0..5.0)}"}
    .price
      - if product_discount
        .discount
          = "#{ variant.cost_price.round }#{t('currency')}"
      = "#{ variant.price.round }#{t('currency')}"