- product_discount = [true, false].sample
- product_new = [true, false].sample
%div.product-item.wow.fadeInUp
  .product-image
    - if product_discount
      .save-off-banner
        .wrap-banner
          = image_tag('save-off.png')
          .text-off
            = "#{rand(20..80)}%"
    .black-layer
    .nav-bar
      .row
        %a.quick-view{:href => "/a"}
          .col-sm-6.center-block
            XEM NHANH
        %a.add-to-cart{:href => "/b"}
          .col-sm-6.center-block
            THÊM VÀO GIỎ
    = image_tag "products/product-#{rand(1..8)}.jpg", size: "240x240", class: 'product_photo'
  .caption
    %a.categories{:href => "/categories/#{ Faker::Hacker.abbreviation }"}
      = Faker::Hacker.abbreviation
    %a.name{:href => "/products/#{ Faker::Name.name.humanize }"}
      = Faker::Name.name.humanize
    .rating{"data-score" => "#{ rand(0.0..5.0)}"}
    .price
      - if product_discount
        .discount
          = "#{ rand(100..999) }K"
      = "#{ rand(100..999) }K"
