%h1.page-title.double
  = t('g.highlight')
%ul.mini-products.row
  - highlight_products.each do |product|
    - variant = product.variants.first
    - image = variant.images.first
    - product_url = product_path(product)
    %li.mini-product.col-xs-12.col-md-12
      .left-column
        - mini_image_url = image ? image.attachment(:small) : image_url("noimage/mini.png")
        = link_to product_url, class: 'thumb' do
          = image_tag mini_image_url
      .right-column
        .name
          = link_to truncate(product.name, length: 25, omission: ' ...'), product_url
        .rating.init{"data-score" => "#{ rand(0.0..5.0)}"}
        .price
          - if variant.discount?
            .discount
              = variant.display_cost_price
          = variant.display_price


