<div id="main-slider">
  <ul class="bxslider">
    <li>
      <%= image_tag("sliders/1.jpg") %>
      <div class="item-caption">
        <div class="item-caption-inner">
          <div class="item-caption-wrapper">
            <a class="item-title" href="#">TOP</a>
            <div class="item-description">up to 50$ off <br> on selected items</div>
            <a class="shop-now" href="#">Shop now</a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <%= image_tag("sliders/2.jpg") %>
      <div class="item-caption">
        <div class="item-caption-inner">
          <div class="item-caption-wrapper">
            <a class="item-title" href="#">SUZUKI</a>
            <div class="item-description">up to 30% off <br> on selected items</div>
            <a class="shop-now" href="#">Shop now</a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <%= image_tag("sliders/3.jpg") %>
      <div class="item-caption">
        <div class="item-caption-inner">
          <div class="item-caption-wrapper">
            <a class="item-title" href="#">DELL</a>
            <div class="item-description">up to 30% off <br> on selected items</div>
            <a class="shop-now" href="#">Shop now</a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <%= image_tag("sliders/4.jpg") %>
      <div class="item-caption">
        <div class="item-caption-inner">
          <div class="item-caption-wrapper">
            <a class="item-title" href="#">DELL</a>
            <div class="item-description">up to 30% off <br> on selected items</div>
            <a class="shop-now" href="#">Shop now</a>
          </div>
        </div>
      </div>
    </li>
    <li>
      <%= image_tag("sliders/5.jpg") %>
      <div class="item-caption">
        <div class="item-caption-inner">
          <div class="item-caption-wrapper">
            <a class="item-title" href="#">DELL</a>
            <div class="item-description">up to 30% off <br> on selected items</div>
            <a class="shop-now" href="#">Shop now</a>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
