- line_items = local_assigns.fetch :line_items, :true
- editable = local_assigns.fetch :editable, :true

.form-wrapper.address
  %h1.page-title.s18x.no-space
    = t('checkout.order_address')
  %p.margin-bottom-10 ĐINH HOÀNG HIỆP
  %div 13C/KA Đường Vào Ga - Hưng Long
  %div Đồng Nai - Huyện Trảng Bom
  %div Điện thoại di động: 01285286828

.checkout_mini_cart.order-details.padding-bottom-0.form-wrapper
  %h1.page-title.s18x.no-space
    = t('checkout.order_summary')
  .no-space
    %table.table
      - if line_items
        %thead
          %tr
            %th.product-name
              = t('g.product')
            %th.quantity
              = t('g.quantity')
            %th.price
              = t('g.price')
      %tbody
        - if line_items
          = render 'transactions/table_line_items', :order => @order, :editable => editable
        %tr.shipping-cost
          %td.title Phí vận chuyển
          %td.value.text-right{:colspan => 2, :style => 'vertical-align: middle;'} Miễn phí
        %tr.payment-method
          %td.title Thanh toán
          %td.value.text-right{:colspan => 2, :style => 'vertical-align: middle; min-width: 193px;'} Thanh toán khi nhận hàng
        %tr.subtotal
          %td.title
            = t('cart.subtotal')
            .vat_des
              = "(#{t('cart.include_vat')})"
          %td.value{:colspan => 2} 906.000 VND

