= render 'steps', :step_name => params[:step]

.row.margin-top-20
  .col-xs-12.col-sm-7
    = form_for :order, url: checkout_transactions_path(:payment), :html => {:class => 'checkout-form form-wrapper'} do |f|
      .padding-bottom-20
        = render "transactions/steps/#{params[:step]}", :f => f
      .clearfix
      %hr.margin-top-0
      %button.button-default.pull-right.submit-checkout
        = "#{t("checkout.next_#{params[:step]}").upcase}"
        %span.arrow-right.fa.fa-angle-right
      .clearfix
  .col-xs-12.col-sm-5
    = render 'order_summary'
