.product-name
  = product.name
  .brand
    by
    = link_to FFaker::Product.brand.titleize, '' 
.rating.init{"data-score" => "#{ rand(0.0..5.0)}"}
.stock-status
  = t('product.stock_status')
  - if variant.in_stock?
    %span.available
      = t('product.in_stock')
  - else
    %span.not-available
      = t('product.sold_out')
.clearfix
.description
  = variant.product.short_description.html_safe
.price
  - if variant.discount?
    .discount.margin-right-10
      = variant.display_cost_price
  = variant.display_price
.variants
  %select.select2.full-width{:name => "varaint_id"}
    - product.variants.each do |variant|
      %option{:value => "#{variant.id}"}
        = variant.options_text
%br/
.add-to-cart
  .quantity
    %select{:name => ""}
      %option{:value => "1"} 1
      %option{:value => "2"} 2
      %option{:value => "3"} 3
  %button.btn.btn-primary
    = t('product.add_to_cart')