.product-name
  = product_name
  .brand
    by
    = link_to FFaker::Product.brand.titleize, '' 
.rating.init{"data-score" => "#{ rand(0.0..5.0)}"}
.stock-status
  = t('product.stock_status')
  - if available
    %span.available
      = t('product.in_stock')
  - else
    %span.not-available
      = t('product.sold_out')
.clearfix
.description
  = FFaker::Lorem.paragraph
.price
  - if product_discount
    .discount.margin-right-10
      = "#{ variant.cost_price.round }#{t('currency')}"
  = "#{ variant.price.round }#{t('currency')}"
.variants
  %select.select2.full-width{:name => "varaint_id"}
    - product.variants.each do |variant|
      %option{:value => "#{variant.id}"}
        = variant.options_text
%br/
.add-to-cart
  .quantity
    %select{:name => ""}
      %option{:value => "1"} 1
      %option{:value => "2"} 2
      %option{:value => "3"} 3
  %button.btn.btn-primary
    = t('product.add_to_cart')