- available = [true, false].sample
- variant = @product.variants.first
- product_discount = variant.cost_price > variant.price
%h1.page-title
  = @product.name
.product-details-page.row
  .col-xs-5
    .main-image
      - if product_discount
        .save-off-banner
          .wrap-banner
            = image_tag('save-off.png')
            .text-off
              = "#{ (((variant.cost_price - variant.price) * 100)/variant.cost_price).round }%"
      = image_tag "products/product-1.jpg", class: "img-responsive img-main-image", "data-zoom-image" => image_path("products/product-1.jpg")
      %a.fancybox{:href => ""}
      %a.fancybox.expand-image{:href => image_url("products/product-1.jpg"), :rel => "gallery1", :title => @product.name}
        %span.fa.fa-expand
    .thumbnails.owl-carousel
      - 10.times do
        - small_image_url = asset_url("products/product-#{rand(1..8)}.jpg")
        - large_image_url = small_image_url
        = link_to 'javascript:void(0);', "data-source" => large_image_url, class: 'thumbnail-item' do
          = image_tag small_image_url, class: 'image'
  .col-xs-7
    = render 'variant_cart_form', :product => @product, :variant => variant, :product_name => @product.name, :available => available, :product_discount => product_discount

    %ul#product_details_tab.nav.nav-tabs{:role => "tablist"}
      %li.active{:role => "presentation"}
        %a{"aria-controls" => "review", "data-toggle" => "tab", :href => "#tab_details", :role => "tab"}= t('product.details')
      %li{:role => "presentation"}
        %a{"aria-controls" => "images", "data-toggle" => "tab", :href => "#tab_comments", :role => "tab"}= t('product.customer_comment')

    #product_details_tab_content.tab-content
      #tab_details.tab-pane.active{:role => "tabpanel"} 
        = FFaker::HTMLIpsum.p.html_safe
        = FFaker::HTMLIpsum.ul_short.html_safe
        = FFaker::HTMLIpsum.fancy_string.html_safe
      #tab_comments.tab-pane{:role => "tabpanel"}
        .fb-comments{"data-colorscheme" => "light", "data-href" => "#{ original_url }", "data-numposts" => "5", "data-width" => "100%", "data-mobile" => "true", "data-order-by" => "time"}



= content_for :extra_layout do
  .clearfix
  = br(4)
  #related-products
    .hr-title
      %span
        = fa_icon "link"
        = t('product.related')
    = render 'related_products', :products => @product_related

= content_for :extra_js do
  :javascript
    $(document).ready(function(){
      $('#product_details_tab a:first').tab('show')
      
      setTimeout(function(){
        (function(d, s, id) {
          console.log('load')
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3&appId=1434833363500454";
          fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
      }, 300000)
    })
