- product_discount = [true, false].sample
- product_new = [true, false].sample
- available = [true, false].sample
- product_name = Faker::Name.name
%h1.page-title
  = product_name
.product-details-page.row
  .col-xs-5.main-image
    - if product_discount
      .save-off-banner
        .wrap-banner
          = image_tag('save-off.png')
          .text-off
            = "#{rand(20..80)}%"
    = image_tag "products/product-1.jpg", class: "img-responsive"
  .col-xs-7
    .product-name
      = product_name
    .rating.init{"data-score" => "#{ rand(0.0..5.0)}"}
    .stock-status
      Tình trạng:
      - if available
        %span.available
          Còn hàng
      - else
        %span.not-available
          Hết hàng
    .clearfix
    .description
      = Faker::Lorem.paragraph
    .price
      - if product_discount
        .discount
          = "#{ rand(100..999) }K"
      = "#{ rand(100..999) }K"
    .add-to-cart
      %input.quantity{:type => "number", value: 1, disabled: !available}/
      %button.btn.btn-primary{ disabled: !available }
        THÊM VÀO GIỎ

%ul#product_details_tab.nav.nav-tabs{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{"aria-controls" => "review", "data-toggle" => "tab", :href => "#review", :role => "tab"} MÔ TẢ CHI TIẾT
  %li{:role => "presentation"}
    %a{"aria-controls" => "images", "data-toggle" => "tab", :href => "#images", :role => "tab"} HÌNH ẢNH SẢN PHẨM

#product_details_tab_content.tab-content
  #review.tab-pane.active{:role => "tabpanel"} 
    Modi natus ratione nihil deserunt hic et molestias. Quam sit autem. Fugit veritatis qui id consectetur deserunt ut ut. Quo a porro quis repellat quibusdam nihil dolorum. 
  #images.tab-pane{:role => "tabpanel"}
    .owl-carousel
      - 20.times do
        - small_image_url = asset_url("products/product-#{rand(1..8)}.jpg")
        - large_image_url = small_image_url
        = link_to large_image_url, class: 'fancybox fancybox-zoom' do
          = image_tag small_image_url, class: 'image'
%ul.nav.nav-tabs{:role => "tablist", style: "margin-top: 50px"}
  %li.active{:role => "presentation"}
    %a{:href => "#"}
      Ý KIẾN KHÁCH HÀNG
.fb-comments{"data-colorscheme" => "light", "data-href" => "#{ original_url }", "data-numposts" => "5", "data-width" => "100%", "data-mobile" => "true", "data-order-by" => "time"}

:javascript
  $(function () {
    $('#product_details_tab a:first').tab('show')

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v2.3&appId=1434833363500454";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  })
