!!!
%html
  %head
    %title= ENV["PROJECT_NAME"]
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag :modernizr
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = render 'shared/header'
    = render 'shared/slider'
    #main-content
      = yield
    = render 'shared/footer'
    = render "shared/back_to_top"
